.livro{
    cursor: -webkit-grab;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 80%;
    box-shadow: inset;
    background-color: white;
    border: solid 1px white;
    box-shadow: 3px 3px #b5aeaeb9;
}
.livro img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
}
.estrelas{
    justify-content: space-between;
    width: 100%;
    height: 20%;
}
.estrelas img{
    width: 30px;
    height: auto;
}
.livro p{
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}