header{
    width: 100%;
    min-height: 150px;
    border-bottom: solid 2px #000;
    background-color: #FFF;
}
header *{
    text-align: center;
}
nav{
    flex: 2;
}
.logo{
    min-height: inherit;
}
.logo img{
    width: 150px;
    height: auto;
}
.logo *{
    cursor: grab;
}
.navigation_options{
    column-gap: 5rem;
}
.navigation_options p{
    border-bottom:  solid black 1px;
}
.login{
    flex: 0.5;
}
.login img{
    background-color: rgba(192,192,192,0.5);
    width: 75px;
    height: auto;
    border-radius: 50%;
}
.last-area{
    flex: 0.5;
}
.last-area img{
   width: 75px;
   height: auto;
}
@media only screen and (max-width: 1300px){
    .logo{
        flex-direction: column;
    }
    .logo img{
        width: 100px;
    }
}
@media only screen and (max-width: 900px){
    .flex-container.navigation{
        display: none;
    }
}