.itens-carrinho{
    align-items: center;
    gap: 2rem;
}
.itens-carrinho img{
    width: 100px;
    height: auto;
}
.product-carrinho{
    width: 70%;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 3px 3px #00000036 ;
    background-color: white;
    
}
.descricao_carrinho{
    border-right: outset 2px rgba(128, 128, 128, 0.466);
    font-weight: bold;
    width: 60%;
    height: 100%;
    word-wrap: break-word;
}
.preço-item-carrinho{
    width: 20%;
    height: 100%;
    font-weight: bold;
    text-align: center;
}
.carrinho-preço{
    padding-top: 5%;
    border-left: dotted 2px #000;
    gap: 2rem;
    align-items: center;
}
form{
    margin-top: 5%;
    width: 100%;
}
form button{
    margin-top: 5%;
}
.input-area{
    width: 100%;
}
.input-area label{
    font-weight: bold;
    width: 20%;
    word-wrap: break-word;
    text-align: end;
    padding-top: 2%;
}
.input-area input{
    font-size: 1.5rem;
    margin-left: 2%;
    width: 40%;
    background-color: rgba(128, 128, 128, 0.582);
    border: none;
    border-radius: 5px;
    margin-top: 2%;
    height: fit-content;
}
@media only screen and (max-width: 900px){
    .carrinho-preço{
        border-top: dotted 2px black;
    }
    .flex-container.main-carrinho{
        flex-direction: column;
    }
    .input-area label{
        text-align: center;
        width: 30%;
    }
    .input-area input{
        width: 50%;
    }
    

}
@media only screen and (max-width:600px){
    .product-carrinho{
        width: 90%;
    }
    .flex-container.main-carrinho h2{
        text-align: center;
    }
}
