/*estilos que estavam sendo duplicados em cada .css*/
@import "/JS/components/header/header.css";
@import "/JS/components/categorias/categorias.css";
@import "/JS/components/livro/makelivro.css";
@import "/JS/components/footer/footer.css";

@font-face {
    font-family: 'Poppins-Regular';
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('/fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'Poppins-Italic';
    src: url('/fonts/Poppins/Poppins-Italic.ttf');
}
@font-face {
    font-family: 'Quicksand-Regular';
    src: url('/fonts/Quicksand/static/Quicksand-Regular.ttf');
}
@font-face {
    font-family: 'QuickSand-Bold';
    src: url('/fonts/Quicksand/static/Quicksand-Bold.ttf');
}
:root{
    --font-title: 3rem;
    --font-subtitle: 2rem;
    --font-text: 1.5rem;
    --font-details: 1rem;
    --bg-main-color: #8bedfc5d;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
    width: 99vw;
    min-height: 100vh;
}
a{
    font-size: var(--font-text);
    text-decoration: none;
    color: #000;
}
img{
    object-fit: fill;
}

span{
    display: none;
}
main{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-main-color);
    padding: 0 0 20px 0;
    
}
h1{
    font-family: 'Poppins-Regular';
    font-size: var(--font-title);
}
h2{
    font-size: var(--font-subtitle);
    font-family: "Poppins-Regular";
}
p{
    font-size: var(--font-text);
    font-family: "QuickSand-Regular";
}
label{
    font-size: var(--font-text);
    font-family: "QuickSand-Bold";
}
button{
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    font-size: var(--font-text);
    font-weight: bold;
    border-radius: 10px;
    border : solid 2 px black;
    background-color: gray
}
.flex-container{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.grow{
    flex: 1;
}
.current-page a{
    color: blue;
}
@media only screen and (max-width: 1300px){
    html{
        font-size: 85%;
    }
}
@media only screen and (max-width:900px){
    html{
        font-size: 80%;
    }
}
