*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    width: 100%;
    height: 100%;

}
a{
    text-decoration: none;
    color: black;
}
img{
    object-fit: fill;
}
.Container{
    padding: 2% 2% 2% 2%;
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    min-width: 1300px;
}
#Main_Header{
    display: flex;
    width: 100%;
    height: 150px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    background-color: white;
}
#Logo{
    display: flex;
    width: 30%;
    height: 100%;
}
#logo_name{
    margin-top: 5%;
    font-size: max(35px,3vw);
    height: fit-content;
    width: fit-content;
    display: flex;
}
#navigation{
    width: 45%;
    height: 100%;
}
#navigation_options{
    display: flex;
    width: 100%;
    height: 50%;
}
#navigation_options p{
    color: black;
    font-size: max(18px,1.5vw);
    margin-left: 9%;
    text-align: center;
    width: fit-content;
    height: fit-content;
    border-bottom:  solid black 1px;
}
#navigation_help{
    display: flex;
    width: 100%;
    height: 50%;
}
#navigation_help p{

    color: black;
    font-size: max(18px,1.5vw);
    margin-left: 15%;
    text-align: center;
    width: fit-content;
    height: fit-content;
    border-bottom:  solid black 1px;
}
#divimglogin{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin-left: 25%;
}
#login{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
}
#login img{
    background-color: rgba(192,192,192,0.5);
    width: 70%;
    height: 100%;
    border-radius: 50% 50% 50% 50%;
}
#login p{
    color: black;
    font-size:  max(18px,1.5vw);
    text-align: center;
}
#area_carrinho{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 100%;
}
#area_carrinho img{
    width: 60%;
    height: 60%;
}
#area_carrinho p{
    font-size:  max(15px,1.2vw);
    width: fit-content;
    height: fit-content;
}
#main_content{
    background-color: blue;
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
}
#categorias{
    background-color: yellow;
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
#tipo_categoria{
    display: flex;
    width: 9%;
    height: 90%;
}
.checkbox{
    display: none;
}
.checks{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.checkimgs{
    width: 30%;
    height: 60%;
}

.labelforcat{
    font-size: max(12px,1.3vw);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.7)

}
#Area_livros{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: fit-content;
    margin-bottom: 1%;
}
#search_livro{
    background-color: red;
    display: flex;
    margin-top: 3%;
    width: 90%;
    height: 5%;
    border-bottom: solid black 1px;
}
#img_lupa_livro{
    height: 100%;
    width: 5%;
}
#text_procurar_livro{
    background-color: blue;
    font-size: max(18px,1.5vw);
    padding-top: 1%;
    word-spacing: 15px;
}
.banners{
    margin-top: 5%;
    width: 90%;
    height: 400px;
    background-color: cyan;
}
.banners img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.header-livros{
    display: flex;
    align-items: center;
    margin-top: 5%;
    width: 90%;
    height: 100px;
    background-color: red;
}
#text-header-livros{
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: max(50px,2vw);
}
.conjunto_de_livros{
    background-color: green;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    width: 90%;
    height: 20%;
    /*background-color: rgba(0, 183, 255, 0.2);*/
}
.livro{
    border : solid 0.5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: blue;
    width: 15%;
    height: 100%;
    background-color: rgba(147, 190, 183, 0.18);
    box-shadow: inset;
    transition: 0.2s;
}
.livro img{
    width: 100%;
    height: 350px;
    border-radius: 5px;
}
.estrelas{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    width:80%;
    height: 20%;
}
.estrelas img{
    width: 20%;
    height: 100%;
}
.titulo{
    width: 100%;
    height: 40px;
    font-size: max(15px,1vw);
    text-align: center;
    word-wrap: break-word;
}
.autor{
    width: 100%;
    height: fit-content;
    font-size: max(15px,1vw);
    text-align: center;
}
#rodapé{
    border-top: solid black 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: green;
    
}
#fale-conosco{
    width: 30%;
    height: 70%;
    background-color: yellow;
}
#fale-conosco img{
    width: 50px;
    height: 50px;
}
#fale-conosco-title{
    text-align: center;
    font-weight: bold;
    font-size: max(30px,1.4vw);
    width: 100%;
    height: fit-content;
}
#seguranca{
    width: 30%;
    height: 70%;
    background-color: red;
}
#seguranca-title{
    text-align: center;
    font-size: max(30px,1.4vw);
    font-weight: bold;
    width: 100%;
    height: fit-content;
}
#direitos{
    display: flex;
    width: 100%;
    height: 30%;
    background-color:orange;
    align-items: center;
}
#direitos p{
    font-size: max(25px,1.3vw);
    width: 100%;
    height: fit-content;
}
/*estilos personalizados da página product*/

#livro{
    display: flex;
    height: 1500px;
    flex-wrap: wrap;
    align-content: flex-start;

}
#img_livro_produto{
    height: 75%;
}
#conjunto_de_livro{
    margin-top: 5%;
    display: flex;
    width: 100%;
    height: 55%;
    
}
#livro_produto{
    width: 25%;
    height: 70%;
}
#avaliações{
    width: 100%;
    font-size: max(15px,1.3vw);
}
#preco{
    margin-top: 4%;
    width: 100%;
    text-align: center;
    font-size: max(15px,1.3vw);
}
#info_livro{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 65%;
    height: 100%;
    margin-left: 5%;
    
}
#titulo{
    font-size: max(30px,1.5vw);
    width: 100%;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-wrap: break-word;
}
#autor{
    margin-top: 3%;
    font-size: max(25px,1.3vw);
    width: fit-content;
    height: fit-content;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    border-radius: 1px;
    background-color: green;
    padding: 0.5% 0.5% 0.5% 0.5%;
    border-radius: 10px;
}
#Paginas{
    margin-left: 2%;
    margin-top: 3%;
    font-size: max(25px,1.3vw);
    width: fit-content;
    height: fit-content;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    border-radius: 1px;
    background-color: green;
    padding: 0.5% 0.5% 0.5% 0.5%;
    border-radius: 10px;
}
#add_carrinho{

    width: fit-content;
    height: fit-content;
    font-size: max(25px, 1.5vw);
    font-weight: bold;
    border : solid 2 px black;
    background-color: inherit;
    padding: 3px 3px 3px 3px;
}
#Sinopse{
    margin-top: 5%;
    word-wrap: break-word;
    white-space: pre-line;
    overflow: auto;
    word-spacing: 10px;
    width: 100%;
    height: 55%;
    font-size: max(18px,1vw);
    font-family: 'Times New Roman', Times, serif;
}
#outros_livros{
    font-size: max(30px,1.5vw);

    width: 100%;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#Area_outros_livros{
    margin-top: 3%;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 32.5%;
}
#primeiro_livro_outros{
    width: 20%;
    height: 70%;
}
.outros_livros_imgs{
    margin-left: 3%;
    width: 20%;
    height:70%;
}



