
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.area-login{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 500px;
    background-color: gray;
    border-bottom: solid 5px black;
}
input{
    width: 85%;
    height: 6%;
    background-color: white;
    border-top: none;
    border-right: none;
    border-left: none;

    border-radius: 5px;
    border-bottom: dotted 1px black;
}
#textlogin{
    text-align: center;
    width: 100%;
    height: fit-content;
    color: white;
    font-size: max(30px,1.7vw);
}
label{
    font-size: max(20px,1.4vw);
    color: white;
    margin-top: 3%;
    height: fit-content;
    width: 85%;
}
#forgot-password{
    width: fit-content;
    height: fit-content;
    font-size: max(15px,0.5vw);;
    white-space: pre-line;
}
#no-account-text{
    margin-left: 25%;
    white-space: pre-line;
}
a{
    text-decoration: none;
    color: lightblue
}
button{
    font-size: max(15px,1vw);
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: lightskyblue;
}