
.area-login{
    width: 500px;
    height: 600px;
    background-color: gray;
    border-bottom: solid 5px black;
    gap: 1.5rem 0;
}
input{
    width: 85%;
    height: 6%;
    background-color: white;
    border-top: none;
    border-right: none;
    border-left: none;

    border-radius: 5px;
    border-bottom: dotted 1px black;
}
.entrar{
    width: 50%;
    background-color: #FFF;
}
a{
    text-decoration: none;
    color: lightblue
}