
.area-livro-unico{
    width: 100%;
    min-height: 500px;
    height: fit-content;
    gap: 0rem 3rem;
}
.area-livro-unico button{
    align-self: flex-end;
}
#livro-unico{
    width: 350px;
    min-height: fit-content;
}
#livro-unico > img{
    width: 100%;
    height: auto;
}
.info-livro div{
    gap: 2rem;
    width: 100%;
    height: fit-content;
}
.info-livro{ 
    width: 50%;
    min-height: inherit;
    flex-wrap: wrap;
    gap: 0rem 1.5rem;
}
.info-livro-special-p{
    color: #FFF;
    background-color: green;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 10px;
    font-family: "Quicksand-Bold";
}
#Sinopse{
    word-wrap: break-word;
    white-space: pre-line;
    overflow: auto;
    word-spacing: 10px;
    width: 100%;
}
.area-outros-livros{
    margin-top: 5%;
    width: 100%;
    min-height: fit-content;
    gap: 2.5rem 0rem;
}
.area-outros-livros img{
    width: 350px;
    height: 450px;
}
@media only screen and (max-width:1300px){
    #livro-unico{
        width: 300px;
    }
    .area-livro-unico p,h2{
        width: 100%;
        text-align: center;
    }
}
@media only screen and (max-width:900px){
    .area-livro-unico * {
        text-align: center;
        justify-content: center;
    }
    .area-livro-unico button{
        align-self: center;
    }
    .area-outros-livros img{
        width: 250px;
        height: 350px;
    }
}
@media only screen and (max-width:600px){
    .area-livro-unico{
        flex-direction: column;
    }
    .info-livro{
        width: 90%;
    }
    #livro-unico{
        width: 275px;
    }
}