*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    width: 100%;
    height: 100%;

}
a{
    text-decoration: none;
    color: black;
}
img{
    object-fit: fill;
}
.Container{
    padding: 2% 2% 2% 2%;
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    min-width: 1300px;
}
#Main_Header{
    display: flex;
    width: 100%;
    height: 150px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    background-color: white;
}
#Logo{
    display: flex;
    width: 30%;
    height: 100%;
}
#logo_name{
    margin-top: 5%;
    font-size: max(35px,3vw);
    height: fit-content;
    width: fit-content;
    display: flex;
}
#navigation{
    width: 45%;
    height: 100%;
}
#navigation_options{
    display: flex;
    width: 100%;
    height: 50%;
}
#navigation_options p{
    color: black;
    font-size: max(18px,1.5vw);
    margin-left: 9%;
    text-align: center;
    width: fit-content;
    height: fit-content;
    border-bottom:  solid black 1px;
}
#navigation_help{
    display: flex;
    width: 100%;
    height: 50%;
}
#navigation_help p{

    color: black;
    font-size: max(18px,1.5vw);
    margin-left: 15%;
    text-align: center;
    width: fit-content;
    height: fit-content;
    border-bottom:  solid black 1px;
}
#divimglogin{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin-left: 25%;
}
#login{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
}
#login img{
    background-color: rgba(192,192,192,0.5);
    width: 70%;
    height: 100%;
    border-radius: 50% 50% 50% 50%;
}
#login p{
    color: black;
    font-size:  max(18px,1.5vw);
    text-align: center;
}
#area_carrinho{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 100%;
}
#area_carrinho img{
    width: 60%;
    height: 60%;
}
#area_carrinho p{
    font-size:  max(15px,1.2vw);
    width: fit-content;
    height: fit-content;
}
#main_content{
    background-color: #8bedfc;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 800px;
    height: auto;
}
#Sobre{
    width: 80%;
    height: 100%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
#Sobre_nos{
    text-align: center;
    font-size: max(60px,3vw);
    width: 100%;
    height: fit-content;
}
#texto_sobre_nos{
    text-align: justify;
    margin-top: 10%;
    width: 100%;
    font-size: 40px;;
    height: fit-content;
}

#rodapé{
    background-color: #8bedfc;
    border-top: solid black 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30%;
    
}
#fale-conosco{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 70%;
}
#fale-conosco img{
    width: 50px;
    height: 50px;
}
#fale-conosco-title{
    text-align: center;
    font-weight: bold;
    font-size: max(30px,1.4vw);
    width: 100%;
    height: fit-content;
}
#fale-conosco-wpp, #fale-conosco-insta, #fale-conosco-face{
    margin-top: 2%;
    margin-left: 2%;
    font-size: max(20px,1.2vw);

    width: 80%;
    height: fit-content;
}
#seguranca{
    width: 30%;
    height: 70%;
}
#seguranca-title{
    text-align: center;
    font-size: max(30px,1.4vw);
    font-weight: bold;
    width: 100%;
    height: fit-content;
}
#direitos{
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
}
#direitos p{
    font-size: max(25px,1.3vw);
    width: 100%;
    height: fit-content;
    text-align: center;
}