.search-livro{
    margin-top: 3rem;
    width: 90%;
    border-bottom: solid black 1px;
    align-items: center;
}
.search-livro img{
    height: 100%;
    width: 5%;
}
.search-livro p{
    font-size: var(--font-subtitle);
}
.conjunto-de-livros{
    padding: 2rem 0;
    gap: 2rem 7rem;
    background-color: white;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 90%;
    border-radius: 5px;
    box-shadow: 3px 3px #00000036;
    /*background-color: rgba(0, 183, 255, 0.2);*/
}